[class*="ds"] {
  --ds-disableable-color-background-base: var(--ds-color-background-base);
  --ds-disableable-color-background-elevated: var(--ds-color-background-elevated);
  --ds-disableable-color-background-subdued: var(--ds-color-background-subdued);
  --ds-disableable-color-background-white: var(--ds-color-background-white);
  --ds-disableable-color-button-primary-bg-destructive: var(--ds-color-button-primary-bg-destructive);
  --ds-disableable-color-button-primary-bg-neutral: var(--ds-color-brand);
  --ds-disableable-color-button-primary-bg-success: var(--ds-color-button-primary-bg-success);
  --ds-disableable-color-button-secondary-bg-destructive: var(--ds-color-button-secondary-bg-destructive);
  --ds-disableable-color-button-secondary-bg-neutral: var(--ds-color-button-secondary-bg-neutral);
  --ds-disableable-color-button-secondary-bg-success: var(--ds-color-button-secondary-bg-success);
  --ds-disableable-color-button-secondary-border-destructive: var(--ds-color-button-secondary-border-destructive);
  --ds-disableable-color-button-secondary-border-neutral: var(--ds-color-button-secondary-border-neutral);
  --ds-disableable-color-button-secondary-border-success: var(--ds-color-button-secondary-border-success);
  --ds-disableable-color-divider-soft: var(--ds-color-divider-soft);
  --ds-disableable-color-divider-solid: var(--ds-color-divider-solid);
  --ds-disableable-color-state-active: var(--ds-color-state-active);
  --ds-disableable-color-state-hover: var(--ds-color-state-hover);
  --ds-disableable-color-foreground-danger: var(--ds-color-status-danger);
  --ds-disableable-color-foreground-default: var(--ds-color-foreground-default);
  --ds-disableable-color-foreground-light: var(--ds-color-foreground-light);
  --ds-disableable-color-foreground-primary: var(--ds-color-foreground-primary);
  --ds-disableable-color-foreground-soft: var(--ds-color-foreground-soft);
  --ds-disableable-color-foreground-softest: var(--ds-color-foreground-softest);
  --ds-disableable-color-foreground-opaque: var(--ds-color-foreground-opaque);
  --ds-disableable-color-foreground-success: var(--ds-color-status-success);
  --ds-disableable-color-icon: var(--ds-color-icon);
}

[class*="ds"].ds-disabled, 
[class*="ds"].ds-disabled * {
  --ds-disableable-color-background-base: var(--ds-color-disabled-bg);
  --ds-disableable-color-background-elevated: var(--ds-color-disabled-bg);
  --ds-disableable-color-background-subdued: var(--ds-color-disabled-bg);
  --ds-disableable-color-background-white: var(--ds-color-disabled-bg);
  --ds-disableable-color-button-primary-bg-destructive: var(--ds-color-disabled-bg);
  --ds-disableable-color-button-primary-bg-neutral: var(--ds-color-disabled-bg);
  --ds-disableable-color-button-primary-bg-success: var(--ds-color-disabled-bg);
  --ds-disableable-color-button-secondary-bg-destructive: var(--ds-color-disabled-bg);
  --ds-disableable-color-button-secondary-bg-neutral: var(--ds-color-disabled-bg);
  --ds-disableable-color-button-secondary-bg-success: var(--ds-color-disabled-bg);
  --ds-disableable-color-button-secondary-border-destructive: #00000000;
  --ds-disableable-color-button-secondary-border-neutral: #00000000;
  --ds-disableable-color-button-secondary-border-success: #00000000;
  --ds-disableable-color-divider-soft: var(--ds-color-disabled-divider);
  --ds-disableable-color-divider-solid: var(--ds-color-disabled-divider);
  --ds-disableable-color-state-active: #FFFFFF00;
  --ds-disableable-color-state-hover: #FFFFFF00;
  --ds-disableable-color-foreground-danger: var(--ds-color-disabled-text);
  --ds-disableable-color-foreground-default: var(--ds-color-disabled-text);
  --ds-disableable-color-foreground-light: var(--ds-color-disabled-text);
  --ds-disableable-color-foreground-primary: var(--ds-color-disabled-text);
  --ds-disableable-color-foreground-soft: var(--ds-color-disabled-text);
  --ds-disableable-color-foreground-softest: var(--ds-color-disabled-text);
  --ds-disableable-color-foreground-opaque: var(--ds-color-disabled-text);
  --ds-disableable-color-foreground-success: var(--ds-color-disabled-text);
  --ds-disableable-color-icon: var(--ds-color-disabled-text);
}