:root {  
  --ds-shadow-soft-elevation-0: 0px 0px 5px 0px rgba(0, 0, 0, 0.051);
  --ds-shadow-soft-elevation-1: 0px 0px 10px -2px rgba(0, 0, 0, 0.149);
  --ds-shadow-soft-elevation-2: 0px 0px 0px 0px rgba(0, 0, 0, 0.102), 0px 11px 24px 0px rgba(0, 0, 0, 0.102), 0px 44px 44px 0px rgba(0, 0, 0, 0.090);
  --ds-shadow-crisp-down: 0px 2px 0px 0px rgba(0, 0, 0, 0.020);
}