:root {
  --ds-color-blue-50: #F0F4FF;
  --ds-color-blue-100: #E5EBFE;
  --ds-color-blue-200: #CDD9FE;
  --ds-color-blue-300: #91ACFD;
  --ds-color-blue-400: #7593FB;
  --ds-color-blue-500: #6187FA;
  --ds-color-blue-600: #4D73F6;
  --ds-color-blue-700: #3D69F2;
  --ds-color-blue-800: #2856E0;
  --ds-color-blue-900: #1D4BD6;
  --ds-color-blue-950: #152E7A;

  --ds-color-brown-50: #FDF7F0;
  --ds-color-brown-100: #FAEDE1;
  --ds-color-brown-200: #F4D5B7;
  --ds-color-brown-300: #EDBF8E;
  --ds-color-brown-400: #E5A564;
  --ds-color-brown-500: #DD8E3A;
  --ds-color-brown-600: #D4771F;
  --ds-color-brown-700: #DB850B;
  --ds-color-brown-800: #B26C09;
  --ds-color-brown-900: #80500D;
  --ds-color-brown-950: #66420F;

  --ds-color-green-50: #EDFDF6;
  --ds-color-green-100: #D1FAE9;
  --ds-color-green-200: #A5F3D2;
  --ds-color-green-300: #6EE7B5;
  --ds-color-green-400: #52DDA3;
  --ds-color-green-500: #36D392;
  --ds-color-green-600: #1FBF7B;
  --ds-color-green-700: #08A464;
  --ds-color-green-800: #088752;
  --ds-color-green-900: #06603A;
  --ds-color-green-950: #064C2F;

  --ds-color-neutral-50: #f2f2f3;
  --ds-color-neutral-100: #efefef;
  --ds-color-neutral-200: #bdbdc2;
  --ds-color-neutral-300: #a2a2a9;
  --ds-color-neutral-400: #878791;
  --ds-color-neutral-500: #676770;
  --ds-color-neutral-600: #434349;
  --ds-color-neutral-700: #2b2b2e;
  --ds-color-neutral-800: #1f1f21;
  --ds-color-neutral-900: #121214;
  --ds-color-neutral-950: #060607;

  --ds-color-purple-50: #F7F5FF;
  --ds-color-purple-100: #EDE7FE;
  --ds-color-purple-200: #E1D7FE;
  --ds-color-purple-300: #C6B4FD;
  --ds-color-purple-400: #B69EFB;
  --ds-color-purple-500: #A689FA;
  --ds-color-purple-600: #9673F8;
  --ds-color-purple-700: #855EF6;
  --ds-color-purple-800: #714CE0;
  --ds-color-purple-900: #4621B5;
  --ds-color-purple-950: #3B1D95;

  --ds-color-red-50: #FEF1F1;
  --ds-color-red-100: #FEE1E1;
  --ds-color-red-200: #FEC8C8;
  --ds-color-red-300: #FCA6A6;
  --ds-color-red-400: #FA8C8C;
  --ds-color-red-500: #F87272;
  --ds-color-red-600: #F55858;
  --ds-color-red-700: #EF4343;
  --ds-color-red-800: #E02D3C;
  --ds-color-red-900: #981B25;
  --ds-color-red-950: #680D14;

  --ds-color-yellow-50: #FFFAEB;
  --ds-color-yellow-100: #FFF5D6;
  --ds-color-yellow-200: #FEE9A9;
  --ds-color-yellow-300: #FDDA72;
  --ds-color-yellow-400: #FCD354;
  --ds-color-yellow-500: #FBCB3C;
  --ds-color-yellow-600: #F5BD1F;
  --ds-color-yellow-700: #E5A80B;
  --ds-color-yellow-800: #B8870A;
  --ds-color-yellow-900: #8B6708;
  --ds-color-yellow-950: #5E4506;
}