.ds-interactable,
.ds-interactable * {
  cursor: pointer;
  position: relative;
}

.ds-disabled *,
.ds-disabled {
  cursor: not-allowed;
}

[class*="ds"].ds-interactable::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: transparent;
  pointer-events: none;
  border-radius: 1000px;
}

[class*="ds"].ds-interactable:hover::after {
  background-color: var(--ds-color-state-hover);
}

[class*="ds"].ds-interactable:active::after {
  background-color: var(--ds-color-state-active);
}

[class*="ds"]:focus-visible {
  outline: 2px solid var(--ds-color-state-focus);
  outline-offset: 0.1em;
  border-radius: 1000px;
}

.ds-disabled .ds-interactable::after,
.ds-disabled.ds-interactable::after {
  display: none;
}