:root {
  --ds-control-height-lg: 50px;
  --ds-control-height-md: 40px;
  --ds-control-height-sm: 28px;
  --ds-radius-lg: 8px;
  --ds-radius-md: 6px;
  --ds-radius-round: 1000px;
  --ds-radius-xlg: 16px;
  --ds-radius-sm: 4px;
  --ds-radius-xxlg: 24px;
  --ds-radius-xs: 2px;
  --ds-space-lg: 12px;
  --ds-space-md: 8px;
  --ds-space-sm: 6px;
  --ds-space-xlg: 16px;
  --ds-space-xs: 4px;
  --ds-space-xxlg: 20px;
  --ds-space-xxs: 2px;
  --select-min-width: 150px;
  --popover-min-width: var(--select-min-width);
  --ds-zindex-top: 3;
  --ds-zindex-middle: 2;
  --ds-zindex-bottom: 1;
  --ds-zindex-under: -1;
}