:root {
  --ds-border-radius-round: 1000px;
  --ds-border-radius-xxlg: 24px;
  --ds-border-radius-xlg: 16px;
  --ds-border-radius-lg: 8px;
  --ds-border-radius-md: 6px;
  --ds-border-radius-sm: 4px;
  --ds-border-radius-xs: 2px;
}