:root {
  --ds-color-background-base: #ffffff;
  --ds-color-background-contrast: var(--ds-color-neutral-900);
  --ds-color-background-elevated: #ffffff;
  --ds-color-background-opaque: #0000001a;
  --ds-color-background-subdued: var(--ds-color-neutral-100);
  --ds-color-background-white: #ffffff;
  --ds-color-badge-blue-bg: var(--ds-color-blue-100);
  --ds-color-badge-blue-border: var(--ds-color-blue-400);
  --ds-color-badge-blue-text: var(--ds-color-blue-800);
  --ds-color-badge-green-bg: var(--ds-color-green-100);
  --ds-color-badge-green-border: var(--ds-color-green-400);
  --ds-color-badge-green-text: var(--ds-color-green-800);
  --ds-color-badge-neutral-bg: var(--ds-color-neutral-100);
  --ds-color-badge-neutral-border: var(--ds-color-neutral-400);
  --ds-color-badge-neutral-text: var(--ds-color-neutral-800);
  --ds-color-badge-purple-bg: var(--ds-color-purple-100);
  --ds-color-badge-purple-border: var(--ds-color-purple-400);
  --ds-color-badge-purple-text: var(--ds-color-purple-800);
  --ds-color-badge-red-bg: var(--ds-color-red-100);
  --ds-color-badge-red-border: var(--ds-color-red-400);
  --ds-color-badge-red-text: var(--ds-color-red-800);
  --ds-color-badge-yellow-bg: var(--ds-color-yellow-100);
  --ds-color-badge-yellow-border: var(--ds-color-yellow-400);
  --ds-color-badge-yellow-text: var(--ds-color-brown-800);
  --ds-color-button-secondary-bg-destructive: var(--ds-color-red-50);
  --ds-color-button-secondary-bg-neutral: #ffffff;
  --ds-color-button-secondary-bg-success: var(--ds-color-green-50);
  --ds-color-button-secondary-border-destructive: var(--ds-color-red-50);
  --ds-color-button-secondary-border-neutral: var(--ds-color-purple-500);
  --ds-color-button-secondary-border-success: var(--ds-color-green-100);
  --ds-color-disabled-bg: var(--ds-color-neutral-200);
  --ds-color-disabled-divider: var(--ds-color-neutral-300);
  --ds-color-disabled-text: var(--ds-color-neutral-400);
  --ds-color-divider-soft: var(--ds-color-neutral-100);
  --ds-color-divider-solid: var(--ds-color-neutral-300);
  --ds-color-status-attention: var(--ds-color-brown-600);
  --ds-color-status-attention-subtle: var(--ds-color-yellow-100);
  --ds-color-status-purple-1: var(--ds-color-purple-100);
  --ds-color-status-danger: var(--ds-color-red-700);
  --ds-color-status-danger-subtle: var(--ds-color-red-100);
  --ds-color-status-info: var(--ds-color-blue-700);
  --ds-color-status-info-subtle: var(--ds-color-blue-100);
  --ds-color-status-success: var(--ds-color-green-800);
  --ds-color-status-success-subtle: var(--ds-color-green-100);
  --ds-color-state-active: #0000001a;
  --ds-color-state-focus: var(--ds-color-purple-600);
  --ds-color-state-hover: #0000000d;
  --ds-color-surface-base: #ffffff;
  --ds-color-surface-base-soft: var(--ds-color-neutral-50);
  --ds-color-surface-subdued: var(--ds-color-neutral-300);
  --ds-color-foreground-default: var(--ds-color-neutral-900);
  --ds-color-foreground-inverted: var(--ds-color-neutral-100);
  --ds-color-foreground-light: #ffffff;
  --ds-color-foreground-opaque: #00000080;
  --ds-color-foreground-primary: var(--ds-color-brand);
  --ds-color-foreground-soft: var(--ds-color-neutral-600);
  --ds-color-foreground-softest: var(--ds-color-neutral-400);
  --ds-color-brand: var(--ds-color-purple-800);
  --ds-color-icon: var(--ds-color-neutral-800);
  --ds-color-button-primary-bg-destructive: var(--ds-color-red-700);
  --ds-color-button-primary-bg-neutral: var(--ds-color-brand);
  --ds-color-button-primary-bg-success: var(--ds-color-green-800);
}

[data-theme="dark"],
[data-theme="dark"] * {
  --ds-color-background-base: var(--ds-color-neutral-900);
  --ds-color-background-contrast: var(--ds-color-neutral-50);
  --ds-color-background-elevated: var(--ds-color-neutral-800);
  --ds-color-background-opaque: #FFFFFF19;
  --ds-color-background-subdued: var(--ds-color-neutral-800);
  --ds-color-background-white: #FFFFFF;
  --ds-color-badge-blue-bg: var(--ds-color-blue-950);
  --ds-color-badge-blue-border: var(--ds-color-blue-700);
  --ds-color-badge-blue-text: var(--ds-color-blue-300);
  --ds-color-badge-green-bg: var(--ds-color-green-950);
  --ds-color-badge-green-border: var(--ds-color-green-700);
  --ds-color-badge-green-text: var(--ds-color-green-300);
  --ds-color-badge-neutral-bg: var(--ds-color-neutral-800);
  --ds-color-badge-neutral-border: var(--ds-color-neutral-700);
  --ds-color-badge-neutral-text: var(--ds-color-neutral-300);
  --ds-color-badge-purple-bg: var(--ds-color-purple-950);
  --ds-color-badge-purple-border: var(--ds-color-purple-700);
  --ds-color-badge-purple-text: var(--ds-color-purple-300);
  --ds-color-badge-red-bg: var(--ds-color-red-950);
  --ds-color-badge-red-border: var(--ds-color-red-700);
  --ds-color-badge-red-text: var(--ds-color-red-300);
  --ds-color-badge-yellow-bg: var(--ds-color-brown-950);
  --ds-color-badge-yellow-border: var(--ds-color-brown-700);
  --ds-color-badge-yellow-text: var(--ds-color-brown-300);
  --ds-color-divider-soft: var(--ds-color-neutral-700);
  --ds-color-divider-solid: var(--ds-color-neutral-600);
  --ds-color-button-secondary-bg-destructive: var(--ds-color-background-elevated);
  --ds-color-button-secondary-bg-neutral: var(--ds-color-background-elevated);
  --ds-color-button-secondary-bg-success: var(--ds-color-background-elevated);
  --ds-color-button-secondary-border-destructive: var(--ds-color-red-500);
  --ds-color-button-secondary-border-neutral: var(--ds-color-purple-500);
  --ds-color-button-secondary-border-success: var(--ds-color-green-500);
  --ds-color-disabled-bg: var(--ds-color-neutral-700);
  --ds-color-disabled-divider: var(--ds-color-neutral-600);
  --ds-color-disabled-text: var(--ds-color-neutral-500);
  --ds-color-status-attention: var(--ds-color-brown-500);
  --ds-color-status-attention-subtle: var(--ds-color-brown-900);
  --ds-color-status-purple-1: var(--ds-color-purple-950);
  --ds-color-status-danger: var(--ds-color-red-500);
  --ds-color-status-danger-subtle: var(--ds-color-red-950);
  --ds-color-status-info: var(--ds-color-blue-500);
  --ds-color-status-info-subtle: var(--ds-color-blue-950);
  --ds-color-status-success: var(--ds-color-green-500);
  --ds-color-status-success-subtle: var(--ds-color-green-950);
  --ds-color-state-active: #ffffff2b;
  --ds-color-state-focus: var(--ds-color-purple-400);
  --ds-color-state-hover: #ffffff1f;
  --ds-color-surface-base: var(--ds-color-neutral-800);
  --ds-color-surface-base-soft: var(--ds-color-neutral-900);
  --ds-color-surface-subdued: var(--ds-color-neutral-950);
  --ds-color-brand: var(--ds-color-purple-800);
  --ds-color-icon: var(--ds-color-neutral-100);
  --ds-color-button-primary-bg-destructive: var(--ds-color-red-600);
  --ds-color-button-primary-bg-neutral: var(--ds-color-brand);
  --ds-color-button-primary-bg-success: var(--ds-color-green-700);
  --ds-color-foreground-default: var(--ds-color-neutral-100);
  --ds-color-foreground-inverted: var(--ds-color-neutral-900);
  --ds-color-foreground-light: #ffffff;
  --ds-color-foreground-opaque: #ffffff99;
  --ds-color-foreground-primary: var(--ds-color-brand);
  --ds-color-foreground-soft: var(--ds-color-neutral-400);
  --ds-color-foreground-softest: var(--ds-color-neutral-500);
}